@media (min-width: 1000px) {

    .nav-links,
    .socials {
        flex-direction: row;
        align-items: center;
    }

    .responsive-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
    }

    .moving-hero {
        animation: around 10s infinite alternate;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        order: 1;
    }


    .timer-container {
        font-size: var(--medium);
        width: fit-content;
    }
    
    .time-counter {
        color: var(--main-color);
        text-transform: uppercase;
        font-weight: bolder;
    }
    
    
    
    .time-info + .time-info {
        margin-left: var(--base);
    }
    
    .adaptable-navigation {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .opened-menu {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transform: none;
        padding: 0;
        gap: 0;
        border-radius: 0;
        overflow: hidden;
        border: none;
    }

    .nav-links {
        margin-left: 25%;
    }

    .hide-on-mobile {
        display: flex;
    }

    .hide-on-desktop {
        display: none;
    }   

    .btn {
        width: fit-content;
    }
    
}